<div class="speak-tab">
  <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">></span>
        </div>
        <input
          type="text"
          class="form-control"
          name="speechInput"
          placeholder="Speech..."
          required
          [(ngModel)]="speechInput"
        >
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="submit"
            [disabled]="!heroForm.form.valid"
          >
            Speak
          </button>
        </div>
      </div>
  </form>

  <div class="history-container" *ngIf="speakerLog.length">
    <h4>History</h4>
    <div class="list-group">
      <div
        class="list-group-item list-group-item-action"
        *ngFor="let entry of speakerLog.slice().reverse()"
      >
        {{entry}}
      </div>
    </div>
  </div>

</div>