<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    {{ title }}
  </h1>
  <!-- [ngModel]="playerGain" (ngModelChange)="onChange($event)" -->
  <!-- [value]="playerGain" (change)="onChange($event.target.value)" -->
  {{playerGain}}
  <input
    type="range" class="form-control-range" min="1" max="100" step="1"
    [(ngModel)]="playerGain" (change)="onChange($event.target.value)"
  >
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/sounds" class="nav-link" routerLinkActive="active">Sounds</a>
    </li>
    <li class="nav-item">
      <a routerLink="/speak" class="nav-link" routerLinkActive="active">Speak</a>
    </li>
  </ul>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>

